<!--@author Rafik Gasparyan 03/03/2019-->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<form action="#" th:action="@{/update/{id}(id=${user.id})}" th:object="${user}" method="post"
      enctype="multipart/form-data">
    <div class="form-row col-md-3">
        <div class="form-group">
            <label for="name">Name</label><br>
            <input type="text" class="form-control" th:field="*{name}" id="name" placeholder="Name">
            <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span><br>
        </div>
    </div>
    <div class="form-row col-md-3">
        <div class="form-group">
            <label for="surname">Surname</label><br>
            <input type="text" class="form-control" th:field="*{surname}" id="surname" placeholder="Surname">
            <span class="alert alert-danger" th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}"></span><br>
        </div>
    </div>
    <div class="form-row col-md-3">
        <div class="form-group">
            <label for="email">Email</label><br>
            <input type="text" class="form-control" th:field="*{email}" id="email" placeholder="Email">
            <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
        </div>
    </div>
    <br>
    <div class="form-row col-md-3">
        <div class="form-group">
            <img th:src="@{/getImage(picUrl=*{picUrl})}" width="100"/>
        </div>
    </div>
    <div class="form-row col-md-3">
        <div class="form-group">
            <label for="formControlFile">File input</label>
            <input type="file" class="form-control-file" id="formControlFile" name="picture">
        </div>
    </div>
    <br>
    <div class="form-row col-md-5 mb-3">
        <input type="submit" class="btn btn-info" value="Update User">
    </div>
</form>
</body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</html>